/* Reset some default styles */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #7288ab;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

article {
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #0066cc;
}

img{
  margin-right: 10px;
  max-width: 50px;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  color: #777;
}
