

.row{
  float:none;
}


#myImg{
    border:thick rgb(8, 8, 8);
    border-style:inset;

}

#rig {
    width:100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#000000;
}

#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    margin:0px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position:relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:absolute;
    width:100%;
    height:auto;
    /* border:none; */
    transform:scale(1);
    transition:all 1s;
    aspect-ratio: attr(width) / attr(height);
    aspect-ratio: attr(width) / attr(height);
}

#rig li:hover .rig-img {
    transform:scale(1.08);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 10;
    left: 10;
    bottom: 10;
    right: 10;
    margin: auto;
    background:#050505 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.2;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 5px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width: 100%;
    text-align:center;
    text-transform:capitalize;
    font-size:14px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:10%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-10px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:95%;
    }
}

@media (max-width: 100px) {
    #rig li {
        width:70.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}
