/* body {margin:2rem;} */
h4 a:hover{
  color: red;
}

h4 a{
  font-size: 20px;
  padding-left: 130px;
}


.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}
.btn-close {
  position:absolute;
  right:-30px;
  top:0;
}
