{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Filter Action Category</h2>



  <!-- movies grid -->
  <div class="container">
    <main>

<section class="movies">
      <div class="movies-grid">
        {% for Movie_article in object_list %}
        {% for category in categories %}

        {% for thing in things %}

        


        <div class="movie-card">

          <div class="card-head">
            <img src="{{Movie_article.image.url}}" alt="error" class="card-img">

            <div class="card-overlay">

              <div class="bookmark">
                <ion-icon name="bookmark-outline"></ion-icon>
              </div>

              <div class="rating">
                <ion-icon name="star-outline"></ion-icon>
                <span>{{Movie_article.ratings}}</span>
              </div>

              <div class="play">
                <span class="genre">{{Movie_article.genre1}}</span>
                <span class="genre">{{Movie_article.genre2}}</span>
                <span class="genre">{{Movie_article.genre3}}</span>
                <a href="{% url 'detailView' Movie_article.slug%}"><ion-icon name="play-circle-outline"></ion-icon></a>

              </div>

            </div>
          </div>

          <div class="card-body">

            <h3 class="card-title">{{Movie_article.title}}</h3>
            </a>


            <div class="card-info">
              <span class="year">{{Movie_article.year}}</span>
            </div>

          </div>

        </div>
        {% endfor%}
        {% endfor %}
        {% endfor %}
      </div>
</section>
    </main>
  </div>




{% endblock %}