
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Visit the website for Easily download High Rated HD movies, Tv Series and get latest Sports News from various sources,Download movie torrent in just one click of a button">
  <!-- <link rel="icon" href="{% static 'images/icon.png'%}" type="image/png"> -->
  <title>2dayMovies Hot picks</title>

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/media_query.css' %}">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/homeView.css'%}">
  <!-- <link rel="stylesheet" href="{% static 'css/variable.css' %}"> -->


  <!-- google font link -->
  <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />
</head>

<body>
  
  <!-- main container -->

  <div class="container">

      <!-- - #HEADER SECTION -->

    <header class="">
      <div class="navbar">

          <!-- - menu button for small screen -->
        <button class="navbar-menu-btn">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>


        <a href="{%url 'homeView'%}" class="navbar-brand indicator"><strong>2dayMovies</strong>
          <!-- <img src="{% static 'images/logo.png'%}" alt=""> --></a>


         <!-- navbar navigation -->

        <nav class="">
          <ul class="navbar-nav">
            <!-- <li> <a href="{%url 'homeView'%}" class="navbar-link">Home</a> </li> -->
            <li> <a href="#category" class="navbar-link">Category</a> </li>
            <li> <a href="#live" class="navbar-link">TV Series</a> </li>
            <li> <a href="{% url 'upcoming'%}" class="navbar-link">Upcoming</a> </li>
            <li> <a href="{% url 'streaming_episode' %}" class="navbar-link">Stream Episodes</a> </li>
            <li> <a href="{% url 'sports_view' %}" class="navbar-link">Sports News</a> </li>
          </ul>
        </nav>


          <!-- search and sign-in -->


        <div class="navbar-actions">

          <form action="{% url 'search_results' %}" class="navbar-form" method="GET">
            {% csrf_token %} {{forms.as_p}}
            <input type="text" value='{{ request.GET.q}}' name="q" placeholder="I'm looking for..." class="navbar-form-search" required>

            <button type="submit" class="navbar-form-btn">
              <ion-icon name="search-outline"></ion-icon>
            </button>

            <button class="navbar-form-close">
              <ion-icon name="close-circle-outline"></ion-icon>
            </button>
          </form>


            <!-- - search button for small screen -->


          <button class="navbar-search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>

          <a href="#" class="navbar-signin">
            <span>Sign in</span>
            <ion-icon name="log-in-outline"></ion-icon>
          </a>

        </div>

      </div>
      
    </header>


    {% block content%}


    {% endblock %}




    <!--
      - FOOTER SECTION
    -->
<footer>

  </div>

 
      <div class="footer-copyright">

        <div class="container">
        <div class="wrapper">
          <a href=""><strong>Support Email: 2daymoviez@gmail.com</strong></a>
          <!-- <a href="#">Terms and conditions</a> -->
        </div>
      </div>

        <div class="copyright">
          <p align="left">copyright 2021 @Mtawatechs.inc</p>
        </div>
      
  </div>

    </footer>

  </div>


  <!--
    - custom js link
  -->
  <script src="{% static 'java/main.js' %}"></script>


    <!-- - ionicon link -->

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
