{% extends "base.html" %}
{% load static %}

{% block content %}

<center>
  <div class="container">

    {% if messageSent %}
   <div class="container">
     <h3><strong>Email Sent successfully</strong></h3>
     <br></br>

     <p>Thank you <h2>{{request.POST.sender}}!!</h2>for contacting us we'll get back to you shortly!! {{ form.cleaned_data.to }}</p>
   </div>
   {% else %}
   <div class="container">
     <!-- <h3><strong>Send E-mail</strong></h3> -->

     <form method="post">
       {% csrf_token %} {{ form.as_p }}
       <br />
       <div class="text-center">

         <input
           type="submit"
           class="btn-success btn-lg"
           style="width: 25%"
           value="SEND"
         />
       </div>
     </form>
   </div>
   {% endif %}


    </div>
    <br></br>
  <p>For Support Email@: 2daymoviez@gmail.com</p>
</center>


{% endblock %}
