<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>2dayMovies Hot Picks</title>

    <link rel="stylesheet" href="{% static 'css/homeView.css'%}">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  </head>
  <body>
    <style media="screen">
      body{
        background-color: #010b13;
      }
      nav{
        background-color: #010b13;
      }
    </style>

    <div class="container">


      <nav class="navbar navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'homeView'%}">Home</a>
          </div>
        </div>
      </nav>


  


     

    <div class="col-sm-12">
    <div class="Movie_article_entry">
      <img src="{{movie_article.image.url}}" alt="No Image" style="width:17vw; float:left">

      <div class="col-lg-4">
      <h1 style="text-align:center;">{{movie_article.title}}</h1>
      <h3 align="center">{{movie_article.year}}</h3>
      <h3 align="center">{{movie_article.genre1}} | {{movie_article.genre2}} | {{movie_article.genre3}}</h3>

      <h4 align="center"><img src="{% static "images/IMDb.webp"%}" alt="IMDb" style="width:4vw;">{{movie_article.ratings}}</h4>


    </div>

      <h5>{{movie_article.synopsis}}</h5>

      <p>{{movie_article.snippest}}<a href="{% url 'read_more' movie_article.slug%}">read more</a></p>
      <p>Posted: {{movie_article.date}}</p>

      <h4>Download Torrent:</h4>
      <button class="btn-success btn-lg" type="button" onclick="location.href='{{movie_article.download_720p}}'" name="button">720p</button>
      <button class="btn-primary btn-lg" type="button" onclick="location.href='{{movie_article.download_1080p}}'" name="button">1080p</button>
      <button class="btn-primary btn-lg" type="button" onclick="location.href='{{movie_article.download_2160p}}'" name="button">2160p</button>

    </div>
    </div>
    <!-- making play a trailer from page -->
    <!-- 16:9 aspect ratio -->
    <div class="col-xs-12">
        <h2>Watch Trailer</h2>

    </div>

    <div class=" col-sm-12 embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="{{movie_article.trailer}}"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
      <!-- <iframe class="embed-responsive-item" src="{{movie_article.trailer}}"></iframe> -->
      </div>

      <div class="col-sm-12">
        <legend>
        <h1>Director</h1>
          <a href="{{movie_article.director_info}}">{{movie_article.director}}</a>
        </legend>




    </div>

  </body>
</html>
