{% extends 'base.html'%}
{% load static %}

{% block content%}
<div class="container">


<div class="Movie_article_entry">
  <img src="{{movie_article.image.url}}" alt="No Image" style="width:17vw; float:left">

  <div class="col-lg-4 col-xs-12">
  <h1 style="text-align:center;">{{movie_article.title}}</h1>
  <h3 align="center">{{movie_article.year}}</h3>
  <h3 align="center">{{movie_article.genre1}} | {{movie_article.genre2}} | {{movie_article.genre3}}</h3>

  <h4 align="center"><img src="{% static "images/IMDb.webp"%}" alt="" style="width:3vw;">{{movie_article.ratings}}</h4>

<h3 align="center"> Avalaible in:</h3>
</div>


  <h2>{{movie_article.synopsis}}</h2>

  <p>{{movie_article.body}}</p>
  <p>Posted: {{movie_article.date}}</p>


  <button class="btn-primary btn-lg" type="button" onclick="location.href='{{movie_article.download_720p}}'" name="button">Download 720p</button>
  <button class="btn-primary btn-lg" type="button" onclick="location.href='{{movie_article.download_1080p}}'" name="button">Download 1080p</button>
  <button class="btn-primary btn-lg" type="button" onclick="location.href='{{movie_article.download_2160p}}'" name="button">Download 2160p</button>



</div>


<!-- making play a trailer from page -->
<!-- 16:9 aspect ratio -->
<div class="col-xs-12">
    <h2>Watch Trailer</h2>

</div>
<div class=" col-sm-12 embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="{{movie_article.trailer}}"></iframe>
  </div>

  <div class="col-sm-12">
    <legend>
    <h1>Director</h1>
      <a href="#">{{movie_article.director}}</a>
    </legend>




</div>

{% endblock%}
