<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,
     minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>2dayMovies Hot picks</title>

    <!-- awsome font cdn -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     <!-- link the css -->
     <link rel="stylesheet" type="text/css" href="{% static 'css/detailView.css' %}">
     <link rel="stylesheet" href="{% static 'css/avatar.css'%}">
     <link rel="stylesheet" href="{% static 'css/mobileView/mobile_view.css'%}">
     <link rel="stylesheet" href="{% static 'css/model.css'%}">

</head>
<body>
  <div class="container">

  <header>
    <a href="{% url 'homeView' %}" class="logo"><img src="{% static 'images/logo.png' %}"></a>

    <ul class="navigation">

      <li><a href="{% url 'homeView' %}">Home</a></li>
      <li><a href="{% url 'tv_series'%}">TV Shows</a></li>
      <li><a href="{% url 'homeView' %}">Movies</a></li>

    </ul>

    <div class="search">
      <input type="text">
      <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
    </div>
  </header>
</div>

  <div class="banner">
    <div class="content">
      <h5 class="movieTitle">
            <span>{{movie_article.title}}</span>
          </h5>

        <h4>
          <span>{{movie_article.year}}</span>
          <span>{{movie_article.category}}</span>
          <span>{{movie_article.duration}}</span>
        </h4>
        <p>{{movie_article.snippest}}
          <!-- Trigger/Open The Modal -->
          <a id="myBtn">read more</a>
        </p>

          <!-- The Modal -->
          <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>{{movie_article.body}}</p>
            </div>
          </div>


        <h4 class="download">Download Torrent</h4>


        <div class="buttons">
          <a onclick="location.href='{{movie_article.download_720p}}'">
            <i class="fa-solid fa-download"></i> 720p</a>

          <a onclick="location.href='{{movie_article.download_1080p}}'">
            <i class="fa-solid fa-download"></i></i> 1080p</a>
          <!-- <a onclick="location.href='{{movie_article.download_2160p}}'"><i class="fa-solid fa-download"></i></i> 2160p</a> -->
        </div>
    </div>

    <a class="play" onclick="toggleVideo()">
      <img src="{% static 'images/play.png'%}">Watch Trailer</a>
  </div>

  <div class="card">
      <div class="poster">
          <img src="{{movie_article.image.url}}" alt="">
      </div>
      <div class="details">
          <h3>Directed by</h3>
          <h4>{{movie_article.director}}</h4>

          <div class="tags">
              <span>{{movie_article.genre1}}</span>
              <span>{{movie_article.genre2}}</span>
          </div>
      </div>
  </div>


  <div class="trailer">
    <iframe width="560" height="315" src="{{movie_article.trailer}}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img src="{% static 'images/close.png' %}" class="close" onclick="closeIframe();">
  </div>


<!-- custom js link -->

    <script src="{% static 'java/detailView.js'%}"></script>

    <script src="{% static 'java/model.js'%}"></script>

</body>
</html>
