{% extends 'base.html'%}
{% load static%}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block content%}

  <!-- <div class="container"> -->

    <h2><center>Download High Rated HD Movies</center></h2>

    {% for Movie_article in object_list %}

      <div class="Movie_article_entry">

        <div class="col-lg-3 col-md-4 col-xs-6"row>
        <ul id="rig">
          <li>
            <div class="rig-cell">
                <img id="myImg" class="rig-img" src="{{Movie_article.image.url}}" alt="No Image">
              
            <span class="rig-overlay"></span>
            <span class="rig-text">
              <h4>{{Movie_article.ratings}}</h4>
              <h4>{{Movie_article.genre1}}</h4>
              <h4>{{Movie_article.genre2}}</h4>
              <h4>{{Movie_article.genre3}}</h4>
              <button class="btn-success btn-md" type="button" onclick="location.href='{% url 'detailView' Movie_article.slug%}'" name="button">View Movie</button>
            </span>
          </div>

            <h5 align="center" style="font-size:12px">{{Movie_article.title}}</h5>
            <!-- <p>{{Movie_article.date}}</p> -->
            </div>
      </li>
      </ul>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    {% endfor%}
<legend>
   

<center>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="?page=1">first</a>
      </li>

      <li>
        {% if page_obj.has_previous%}
        <a href="?page={{ page_obj.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          {% endif %}
        </a>
      </li>
      <li><a href="?page=1">1</a></li>
      <li><a href="?page=2">2</a></li>
      <li><a href="?page=3">3</a></li>
      <li><a href="?page=4">4</a></li>
      <li><a href="?page=5">5</a></li>

      <li>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          {% endif %}
        </a>
      </li>
        <li>
          <a href="?page={{page_obj.paginator.num_pages}}">last</a>
        </li>
    </ul>
  </nav>
</center>


</legend>

    <p align="right">@Mtawatechs.inc</p>


{% endblock%}
