<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />

	<title>Lucky Spin</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	<!-- <script src="https://b.pregunio.com/bc/22c44befcf17be60.js?force_https=1&p1=&p2=&source=&site="></script> -->

	<link rel="stylesheet" href="{% static 'css/Spin.css' %}">




</head>

<body>

    <h1><center> Lucky Number Spin to Win<br>
		🧐🤔🧐</center><br>

	<div id="mainbox" class="mainbox">
		<div id="box" class="box">
			<div class="box1">
				<span class="span1"><b>1000</b></span>
				<span class="span2"><b>500</b></span>
				<span class="span3"><b>Anonymous</b></span>
				<span class="span4"><b>1500</b></span>
			</div>

			<div class="box2">
				<span class="span1"><b>Spin Again</b></span>
				<span class="span2"><b>No Luck</b></span>
				<span class="span3"><b>2000</b></span>
				<span class="span4"><b>5000</b></span>
			</div>
		</div>

		<button class="spin" onclick="myfunction()">SPIN</button>
		<center>
			<button type="button" class="btn btn-outline-primary btn-lg">Open Prize</button>
		
		</center>
			
	</div>

	


  <script src="{% static 'java/Spin.js' %}"></script>
	
</body>
</html>














