<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Sports</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</head>
<body>
<div class="container">

  <nav class="navbar navbar-light bg-light" style="border-radius:80px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homeView' %}">
        <img src="{% static 'images/logo.png'%}" alt="" width="100" height="30" class="d-inline-block align-text-top"
        style="border-radius:10px;">
        Sports RSS
      </a>
    </div>
  </nav>





  <div class="row">
      <div class="col">
        <h3>ESPN Live Sports News</h3>
        <section class="espn">
          {% for entry in espn_sports.entries %}
          <ul>
            <li>
              <a href="{{entry.link}}">Published: {{entry.published}} <br>{{entry.title}}</a>
              <p>{{entry.summary_detail.value}}</p>
            </li>
          </ul>
          {% endfor %}
       </section>
     </div>

<div class="col">
  <section class="bbc">
      <h1>BBC Live Sports</h1>
      {% for entry in bbc_sports.entries %}
      <ul>
        <li>
          <a href="{{entry.link}}">{{entry.title}}</a>
            <p>{{entry.summary_detail.value}}</p>
        </li>

      </ul>

      {% endfor %}
    </section>
</div>
</div>


</div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>
