{% extends 'base.html'%}
{% load static %}

{% block content%}
<!-- #creating the next and previous page -->

      <!-- movies grid -->
      <div class="container">
      <main>

<section class="movies">
        <div class="movies-grid">
          {% for Upcoming in object_list %}

          <div class="movie-card">

            <div class="card-head">
              <img src="{{Upcoming.image.url}}" alt="error" class="card-img">

              <div class="card-overlay">

                <div class="bookmark">
                  <ion-icon name="bookmark-outline"></ion-icon>
                </div>

                <div class="rating">
                  <ion-icon name="star-outline"></ion-icon>
                  <span>{{Upcoming.ratings}}</span>
                </div>

                <div class="play">
                  <span class="genre">{{Upcoming.genre1}}</span>
                  <span class="genre">{{Upcoming.genre2}}</span>
                  <span class="genre">{{Upcoming.genre3}}</span>
                  <a href="{% url 'upcomingDetail' Upcoming.slug%}"><ion-icon name="play-circle-outline"></ion-icon></a>
                </div>

              </div>
            </div>

            <div class="card-body">
              <a href="{% url 'upcomingDetail' Upcoming.slug%}">
              <h3 class="card-title">{{Upcoming.title}}</h3>
              </a>


              <div class="card-info">
                <span class="year">{{Upcoming.release_Date}}</span>
              </div>

            </div>

          </div>
          {% endfor %}
        </div>


          <!-- load more button -->
        <!-- <button class="load-more">LOAD MORE</button> -->

        <!-- Next and previous page -->
        <div class="pagination">
    <span class="step-links">

        {% if page_obj.has_previous %}
        <span class="current">
            <button class="load-more" name="button">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</button>
        </span>
        <div class="btn-group">


            <a href="?page=1">
              <!-- &laquo; -->
              <button class="load-more" id="first-button" type="button" name="button">First</button>
            </a>

            <a href="?page={{ page_obj.previous_page_number }}">
              <button class="load-more" id="back-button" type="button" name="button">Back</button>
            </a>
        </div>
        {% endif %}



        {% if page_obj.has_next %}
        <div class="btn-group2">

          <a href="?page={{ page_obj.paginator.num_pages }}">
            <button class="load-more" id="last-button" type="button" name="button">Last</button>
            <!-- &raquo; -->
          </a>

            <a href="?page={{ page_obj.next_page_number }}">
              <button class="load-more" id="next-button" type="button" name="button">next</button>
            </a>

            
        </div>
        {% endif %}
    </span>
</div>

      </section>
    </main>
  </div>
{% endblock %}
