{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">


<div class="Upcoming_entry">
  <img src="{{upcoming.image.url}}" alt="No Image" style="width:17vw; float:left">

  <div class="col-lg-4 col-xs-12">
  <h1 style="text-align:center;">{{upcoming.title}}</h1>
  <h3 align="center">{{upcoming.year}}</h3>
  <h3 align="center">{{upcoming.genre1}} | {{upcoming.genre2}} | {{upcoming.genre3}}</h3>

  <h4 align="center"><img src="{% static "images/IMDb.webp"%}" alt="" style="width:3vw;">{{movie_article.ratings}}</h4>

<h3 align="center"> Avalaible in:</h3>
</div>


  <h2>{{upcoming.synopsis}}</h2>

  <p>{{upcoming.body}}</p>
  <p>Posted: {{upcoming.date}}</p>
  <p>Release Date: {{upcoming.release_Date}}</p>

</div>


<!-- making play a trailer from page -->
<!-- 16:9 aspect ratio -->
<div class="col-xs-12">
  <h2>Watch Trailer</h2>

</div>
<div class=" col-sm-12 embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="{{upcoming.trailer}}"></iframe>
</div>

<div class="col-sm-12">
  <legend>
  <h1>Director</h1>
    <a href="#">{{upcoming.director}}</a>
  </legend>




</div>

{% endblock%}
